.about {
    padding: 64px 0 58px 0;
    color: $color-light-100;

    .inner {
        background-color: $color-gray-500;
        border-radius: $border-radius-sm;
        padding: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 24px;

        @include media('min', 'md') {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }

        @include media('min', 'xl') {
            padding: 63px 98px;
        }
    }

    .title-block {
        p {
            margin-bottom: 0;
        }
    }

    .info {
        max-width: 456px;
    }

    .buttons {
        .btn {
            min-width: 158px;
        }
    }
}