.application {
    padding: 82px 0;
    text-align: center;

    .title-block {
        margin-bottom: 40px;
    }

    img {
        display: block;
        margin-bottom: 40px
    }

    p {
        max-width: 942px;
    }

    .btn {
        &-primary {
            min-width: 156px;
        }

        &-secondary {
            min-width: 138px;
        }
    }
}