.application {
    padding: 79px 0;
    text-align: center;

    h3 {
        margin-bottom: 40px;
    }

    .image-wrapper {
        margin-bottom: 40px;

        img {
            display: block;
        }
    }

    .description {
        max-width: 942px;
        color: $color-gray-500;
        margin-bottom: 24px;
    }

    .btn {
        &-primary {
            min-width: 156px;
        }

        &-secondary {
            min-width: 138px;
        }
    }
}