.badge {
    display: inline-block;
    padding: 2px 8px;
    box-shadow: $default-box-shadow;
    border-radius: $border-radius-xl;
    font-size: 12px;
    line-height: 1.5;

    &-primary {
        background: $color-primary-500;
        color: $color-light-100;
        margin-bottom: 24px;
    }

    &-secondary {
        background: $color-primary-200;
        color: $color-primary-500;
        margin-bottom: 16px;
    }

    &-tertiary {
        background: $color-primary-200;
        color: $color-primary-900;
        margin-bottom: 17px;
    }
}