.base-list {
    margin-bottom: 30px;

    li {
        display: flex;
        align-items: center;
        gap: 12px;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &::before {
            content: "\e5ca";
            font-family: "Material Symbols Outlined";
            color: $color-light-100;
            font-size: 17px;
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            background: $color-primary-500;
            border: 2px solid $color-primary-600;
            border-radius: $border-radius-rounded;
            @include flex-center;
        }
    }
}