button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.btn {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: $transition-default;
    position: relative;

    &-primary {
        background: $color-primary-500;
        box-shadow: $default-box-shadow;
        border-radius: $border-radius-sm;
        color: $color-light-300;

        &:hover {
            background: $color-primary-600;
            transform: translateY(-1px);
        }
    }

    &-secondary {
        background: $color-light-100;
        box-shadow: $default-box-shadow;
        border-radius: $border-radius-sm;
        color: $color-gray-400;
        border: 1px solid $color-light-400;

        &:hover {
            color: $color-primary-500;
            border-color: $color-primary-500;
        }
    }

    &-sm {
        padding: 8px 16px;
        font-size: 14px;
        line-height: 1.43;
    }

    &-md {
        padding: 11px 18px;
        font-size: 16px;
        line-height: 1.5;
    }

    &-lg {
        padding: 14px 28px;
        font-size: 18px;
        line-height: 1.55;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}