.btn {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: $transition-default;
    position: relative;

    &-primary {
        background: $color-primary-500;
        box-shadow: $default-box-shadow;
        border-radius: $border-radius-lg;
        color: $color-primary-100;

        &:hover {
            background: $color-primary-600;
            transform: translateY(-1px);
        }
    }

    &-secondary {
        background: $color-white-900;
        box-shadow: $default-box-shadow;
        border-radius: $border-radius-lg;
        color: $color-gray-800;
        border: 1px solid $color-gray-200;

        &:hover {
            color: $color-primary-500;
            border-color: $color-primary-500;
        }
    }

    &-sm {
        padding: 8px 16px;
        font-size: 14px;
        line-height: 20px;
    }

    &-md {
        padding: 11px 18px;
        font-size: 16px;
        line-height: 24px;
    }

    &-lg {
        padding: 14px 28px;
        font-size: 18px;
        line-height: 28px;
    }
}

.buttons {
    display: flex;
    gap: 24px;
}