.contact {
    padding: 64px 0;
    background: linear-gradient(
        to bottom,
        $color-light-200 0%,
        $color-light-200 calc(80% - 3px),
        $color-primary-500 calc(80% - 3px),
        $color-primary-500 calc(80% + 3px),
        $color-gray-500 calc(80% + 3px),
        $color-gray-500 100%
    );
    text-align: center;

    @include media('min', 'sm') {
        background: linear-gradient(
            to bottom,
            $color-light-200 0%,
            $color-light-200 calc(63% - 3px),
            $color-primary-500 calc(63% - 3px),
            $color-primary-500 calc(63% + 3px),
            $color-gray-500 calc(63% + 3px),
            $color-gray-500 100%
        );
    }

    @include media('min', 'lg') {
        padding: 91px 0 168px 0;
    }

    p {
        margin: 0 auto 64px auto;
    }

    .row {
        max-width: 1043px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        justify-content: space-between;
        margin-bottom: 64px;

        @include media('min', 'md') {
            flex-direction: row;
            align-items: unset;
        }
    }

    .item {
        max-width: 261px;
        width: 100%;
        
        .icon-box {
            margin-bottom: 23px;
        }

        a {
            color: var(--section-text-color);
            text-decoration: none;
            transition: $transition-default;

            &:hover {
                color: $color-primary-500;
            }
        }
    }
    
    .map {
        border-radius: $border-radius-sm;
        aspect-ratio: 1;
        height: 100%;

        @include media('min', 'md') {
            aspect-ratio: 1.78;
        }
    }
}