[hidden], .hidden {
  display: none;
}

html {
  min-height: 100%;
  height: auto;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: $font-default;
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: $color-gray-300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-light-200;
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
  border-style: none;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 16px;

  &-sm {
    max-width: 977px;
  }

  &-lg {
    max-width: 1296px;
  }
}

.d-flex {
  display: flex;
}

.d-md-hide {
  @include media('min', 'md') {
    display: none;
  }
}

:root {
  --section-heading-color: #{$color-gray-500};
  --section-text-color: #{$color-gray-300};
  --icon-box-color: #{$color-light-100};
  --header-color: #{$color-gray-300};
  --logo-filter: none;
}

.dark-theme {
  --section-heading-color: #{$color-light-100};
  --section-text-color: #{$color-gray-200};
  --icon-box-color: #{$color-gray-500};
  --header-color: #{$color-light-100};
  --logo-filter: brightness(0) saturate(100%)
         invert(62%) sepia(89%)
         saturate(514%)
         hue-rotate(93deg)
         brightness(93%)
         contrast(91%);
  
  &:not(header) {
    background-color: $color-gray-500;
  }
}