.features {
    padding: 48px 0;

    @include media('min', 'md') {
       padding: 91px 0;
    }

    .top {
        margin-bottom: 48px;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 48px;
        flex-wrap: wrap;

        @include media('min', 'md') {
            flex-direction: row;
            gap: 182px 24px;
        }
    }

    .decorated-image {
        max-width: 616px;

        img {
            &:not(.decor) {
                aspect-ratio: 554 / 556;
            }
        }

        @include media('min', 'md') {
            width: 50%;
        }

        @include media('min', 'xl') {
            width: 54%;
        }

        &:nth-of-type(odd) {
            margin-left: 0;

            @include media('min', 'xl') {
                margin-left: -32px;
            }
        }
    }

    .info {
        text-align: center;
        width: 100%;

        @include media('min', 'md') {
            text-align: left;
            width: 45%;
        }

        @include media('min', 'xl') {
            width: 40%;
        }

        h2 {
            margin-bottom: 32px;
        }

        .btn {
            min-width: 128px;
        }
    }

    .col {
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            color: var(--section-text-color);

            @include media('min', 'md') {
                align-items: baseline;
            }

            @include media('min', 'xl') {
                flex-direction: row;
            }

            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }   
    }
}