header {
    padding: 22px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: $transition-default;

    &.is-sticky {
        backdrop-filter: blur(12px);
        background: rgba($color-gray-400, 0.25);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 48px;
        transition: $transition-default;

        @include media('max', 'md') {
            position: fixed;
            inset: 0;
            min-height: 100svh;
            background-color: rgba($color-black-900, 0.95);
            flex-direction: column;
            justify-content: center;
            padding: 24px;
            gap: 24px;
            transform: translateX(-100%);
            opacity: 0;
            z-index: 1;
            overflow: auto;
        }

        @include media('min', 'xl') {
            gap: 267px;
        }
    }

    ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;

        @include media('min', 'md') {
            flex-direction: row;
            gap: 48px;
        }
    }
    
    .right {
        display: none;

        @include media('min', 'md') {
            align-items: center;
            flex-direction: column;
            gap: 24px;
            display: flex;
            flex-direction: row;
        }
    }

    nav li a,
    .header-link {
        font-size: 16px;
        line-height: 24px;
        color: $color-white-900;
        text-decoration: none;
        transition: $transition-default;

        &:hover {
            color: $color-primary-500;
        }

        @include media('min', 'md') {
            color: $color-gray-500;
        }
    }

    .btn-menu {
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 1;

        @include media('min', 'md') {
            display: none;
        }

        &::before,
        span,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: $color-gray-500;
            border-radius: 3px;
            transition: $transition-default;
        }
    
        &::before {
            top: 0;
        }
    
        span {
            top: 50%;
            transform: translateY(-50%);
        }
    
        &::after {
            top: 100%;
            transform: translateY(-100%);
        }
    }

    &.menu-active {
        nav {
            @include media('max', 'md') {
                transform: translateX(0);
                opacity: 1;
            }
        }

	    .btn-menu {
            &::before,
            span,
            &::after {
                background: $color-white-900;
            }

	        span {
	            opacity: 0;
	            transform: translateY(-50%) scale(0);
	        }
	
	        &::before {
	            top: 50%;
	            transform: translateY(-50%) rotate(45deg);
	        }
	
	        &::after {
	            top: 50%;
	            transform: translateY(-50%) rotate(-45deg);
	        }
	    }
	}
}
