.hero {
    padding: 20px 0;
    margin-bottom: 44px;

    @include media('min', 'lg') {
        padding: 20px 0;
        margin-bottom: 186px;
    }

    .top {
        min-height: 568px;
        border-radius: $border-radius-lg;
        background-color: $color-gray-500;
        margin-bottom: 88px;
        color: $color-light-100;
        @include flex-center;
        position: relative;
        overflow: hidden;

        .decor {
            position: absolute;

            &.decor-1 {
                top: 0;
                left: 0;
                width: 120px;

                @include media('min', 'md') {
                    width: 160px;
                }
            }
            
            &.decor-2 {
                top: 24px;
                right: 24px;
                width: 112px;
                filter: brightness(0) saturate(100%) invert(72%) sepia(61%) saturate(726%) hue-rotate(87deg) brightness(92%) contrast(88%);

                @include media('min', 'md') {
                    width: 149px;
                }
            }

            &.decor-3 {
                right: 0;
                bottom: 0;
                width: 120px;

                @include media('min', 'md') {
                    width: 160px;
                }
            }

            &.decor-4 {
                bottom: 24px;
                left: 24px;
                width: 112px;

                @include media('min', 'md') {
                    width: 149px;
                }
            }
        }        
    }

    .title-block {
        p {
            @include media('min', 'lg') {
                padding: 0 12px;
            }
        }
    }

    .inner {
        padding: 16px;
        max-width: 815px;
        text-align: center;
        position: relative;
    }

    form {
        margin: 0 auto 16px auto;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include media('min', 'sm') {
            flex-direction: row;
            justify-content: center;
        }

        @include media('min', 'md') {
            max-width: 543px;
        }

        .form-holder {
            flex-grow: 1;
            position: relative;

            .icon {
                color: $color-gray-300;
                width: 24px;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 14px;
                transform: translateY(-50%);
            }
        }

        input {
            padding: 10px 14px 10px 46px;
        }

        input,
        input::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: #667085;
        }

        button {
            min-width: 207px;
        }
    }

    small {
        font-size: 14px;
        line-height: 1.43;
        color: $color-gray-200;
    }

    .bottom {
        text-align: center;

        .title {
            color: $color-gray-100;
            margin-bottom: 33px;
        }
    }
}