.insights {
    padding: 64px 0;
    text-align: center;

    @include media('min', 'md') {
        padding: 87px 0 100px 0;
    }

    p {
        margin: 0 auto 48px auto;
    }

    .decorated-image {
        margin: 0 auto 41px auto;
        
        img {
            &:not(.decor) {
                aspect-ratio: 3 / 2;
            }
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 32px;
    }

    .item {
        padding: 32px 0;

        .subtitle {
            padding: 0 32px;
            color: var(--section-text-color);
        }
    }
}