.numbers {
    padding: 64px 0;
    text-align: center;

    @include media('min', 'sm') {
        padding: 85px 0 119px 0;
    }

    .title-block {
        p {
            margin-bottom: 96px;
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 32px;
    }

    li {
        .title {
            color: $color-primary-500;
            margin-bottom: 8px;
        }

        .subtitle {
            color: $color-gray-500;
        }
    }
}