.title-block {
    &-dark {
        h1, .h1,
        h2, .h2,
        h3, .h3,
        h4, .h4,
        h5, .h5,
        h6, .h6 {
            color: $color-light-100;
        }

        p {
            color: $color-gray-200;
        }
    }

    p {
        max-width: 919px;
        margin-inline: auto;
    }

    &.text-left {
        p {
            margin-inline: 0;
        }
    }
}