*:focus {
  outline: none;
}

//for FireFox
::-moz-focus-inner,
::-moz-focus-outer {
  border: 0;
  outline: none;
}

b,
strong {
  font-weight: 700;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  font-weight: 700;
  color: var(--section-heading-color);
}

h1, .h1 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 24px;

  @include media('min', 'md') {
    font-size: 60px;
    line-height: 1.2;
  }
}

h2, .h2 {
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  margin-bottom: 16px;

  @include media('min', 'md') {
    font-size: 48px;
    line-height: 1.25;
  }
}

h3, .h3 {
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: -0.02em;
  margin-bottom: 16px;

  @include media('min', 'md') {
    font-size: 36px;
    line-height: 1.22;
  }
}

h4, .h4 {
  font-size: 26px;
  line-height: 1.38;
  margin-bottom: 8px;

  @include media('min', 'md') {
    font-size: 30px;
    line-height: 1.26;
  }
}

h5, .h5 {
  font-size: 22px;
  line-height: 1.36;
  margin-bottom: 16px;

  @include media('min', 'md') {
    font-size: 24px;
    line-height: 1.33;
  }
}

h6, .h6 {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 8px;

  @include media('min', 'md') {
    font-size: 20px;
    line-height: 1.5;
  }
}

p, .p {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;

  @include media('min', 'md') {
    font-size: 20px;
    line-height: 1.5;
  }
}

p {
  max-width: 919px;
  margin-bottom: 25px;
  color: var(--section-text-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}