$font-default: "Poppins", sans-serif;

$color-primary-200: #DCFCE7;
$color-primary-500: #22C55E;
$color-primary-600: #15803D;
$color-primary-900: #14532D;

$color-light-100: #FFFFFF;
$color-light-200: #F7F8F9;
$color-light-300: #F0FDF4;
$color-light-400: #D5DAE1;

$color-gray-100: #BBC3CF;
$color-gray-200: #8896AB;
$color-gray-300: #556987;
$color-gray-400: #333F51;
$color-gray-500: #2A3342;

$color-dark: #000000;

$transition-default: all .3s ease-in-out;

$default-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
$border-radius-xs: 3px;
$border-radius-sm: 6px;
$border-radius-md: 8px;
$border-radius-lg: 24px;
$border-radius-xl: 36px;
$border-radius-rounded: 50%;