$font-default: "Poppins", sans-serif;

$color-primary-100: #F0FDF4;
$color-primary-200: #DCFCE7;
$color-primary-500: #22C55E;
$color-primary-600: #15803D;
$color-primary-900: #14532D;

$color-white-900: #FFFFFF;

$color-gray-100: #F7F8F9;
$color-gray-200: #D5DAE1;
$color-gray-300: #BBC3CF;
$color-gray-400: #8896AB;
$color-gray-500: #556987;
$color-gray-800: #333F51;
$color-gray-900: #2A3342;

$color-black-900: #000000;

$transition-default: all .3s ease-in-out;

$default-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
$border-radius-lg: 6px;
$border-radius-xl: 24px;
$badge-border-radius: 36px;